/* Importação de fonte via Google Fonts --------- */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

/* Reset básico --------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body --------- */
body {
  background-color: #33475b;
  font-family: "IBM Plex Sans", sans-serif;
  height: 1302px;
  position: relative;
}

/* Header --------- */
header {
  height: 80px;
  background-color: #ffffff;
  display: flex;
}

.container {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titulo-principal {
  font-size: 24px;
  color: #0000ee;
  font-weight: 400;
}

.label-pesquisa {
  background-color: #db1e8c;
  height: 40px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
}

.input-pesquisa {
  background-color: transparent;
  padding: 4px;
  border: none;
}

::placeholder {
  color: #ff97d3;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 110px;
  background-color: #ffffff;
}

.footer-text {
  font-size: 0.875rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container > img:first-of-type {
  margin-right: 1.5rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.footer-info {
  display: flex;
  width: 20rem;
  justify-content: space-between;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 8rem;
}

.items-center {
  align-items: center;
}

.content-between {
  justify-content: space-between;
}

.h-8 {
  height: 4rem;
}

article {
  background-color: #f5f5f5;
  flex: 1 1 300px;
  width: 400px;
  border-radius: 4px;
  box-shadow: 0x 4px 4px black;
  padding: 2rem;
  align-self: stretch;
  height: 463.8px;
  position: relative;
}

article > h2 {
  color: #364372;
  font-size: 1.5rem;
}

article > button {
  background: none;
  border-radius: 4px;
  border: 1px solid #264fec;
  font-size: 0.875rem;
  font-weight: 400;
  color: #264fec;
  padding: 0.9rem;
  position: absolute;
  bottom: 2rem;
}

article > p {
  margin-top: 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

section {
  width: 67vw;
  display: grid;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  margin: auto;
  margin-top: 2.25rem;
}

/* Trilhas */
.container-trilhas {
  width: 1280px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.trilha {
  width: calc((100% - 64px) / 3);
  background-color: #ffffff;
  padding: 32px 32px 96px;
  border-radius: 4px;
  position: relative;
}

.titulo-trilha {
  color: #364372;
  margin-bottom: 24px;
}

.paragrafo-trilha {
  margin-bottom: 16px;
}

.link-ementa {
  border: 1px solid #264fec;
  border-radius: 4px;
  padding: 16px;
  text-decoration: none;
  position: absolute;
  bottom: 32px;
  height: 54px;
  width: 160px;
  color: #264fec;
  transition: 0.3s all;
  text-align: center;
}

.link-ementa:hover {
  background-color: #264fec;
  color: #ffffff;
  border-color: #0000d6;
}

/* Footer */
footer {
  background-color: #ffffff;
  height: 110px;
  display: flex;
}

.container-elementos-footer {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-logos {
  display: flex;
  gap: 24px;
}

.container-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container-links a {
  text-decoration: none;
  color: #000000;
}

.container-direita {
  display: flex;
  gap: 54px;
  align-items: center;
}

.container-icones {
  display: flex;
  gap: 16px;
}

.container-midias {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}
